html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  }

  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }

  /* Header/logo Title */
  .header {
    padding: 50px;
    width: 100%;
    text-align: center;
    background-image: url(https://i.imgur.com/zI5Cpjf.jpg);
    filter:opacity(80%);
    width: 100%;
    color: black;
    background-repeat: no-repeat;
  }

  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    display: flex;
    background-color: #333;
  }

  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 15px 65px;
    text-decoration: none;
    text-align: center;
  }

  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
    @media (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #ffffcc;
    padding: 20px;
  }
  .fa {
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #000000;
  color: white;
}
.fa-instagram {
  background: #000000;
  color: white;
}
.fa-pinterest {
  background: #000000;
  color: white;
}

  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  .line2{
    height: 1px;
    border: 1px 
    solid #000000;
  }
  .lineEdu{
    width: 1px;
    height: 390px;
    left: 830px;
    top: 1000px;
    border: 1px 
    solid #000000;
  }
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  /* Container around content */
  .container {
    padding: 5px 10px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #ffffcc;
    border: 4px solid #000000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
  }
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  /* The actual content */
  .content {
    padding: 10px 20px;
    background-color: #ffffcc;
    position: relative;
    border-radius: 6px;
  }
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }
    /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.skillscontainer {
  width: 100%;
  background-color: #ddd;
}
.skillfont {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.Photoshop {
  width: 50%; 
  background-color: black;
}
.moviemaker {
  width: 70%;
  background-color: black;
}
.swim {
  width: 80%; 
  background-color: black;
}
.html {
  width: 60%; 
  background-color: black;
}
.spoke {
  width: 70%; 
  background-color: black;
}
.more{
  z-index: 2;
  position: absolute;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #F5EFD8;
}

.containerContact {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 20px;
}
  /* Slideshow container */
.slideshowFooter-container {
  position: relative;
  background: white;
}
/* Slides */
.mySlides1 {
  display: none;
  padding: 80px;
  text-align: center;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 10px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot1:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: #60401f;}