{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story4/css/StylesUpdatePhoto.css' %}">

    <title>Annisya's Photos</title>
   </head>
   <body>

<!-- Header -->
<div class="header" style="background-color: white">
<div class="more" style="left: 5%; top: 5%;">
     <a href="{% url 'index' %}" class="btn btn-outline-dark" role="button">Go Back</a>
   </div>
  <h1>PHOTOS BY ME</h1>
  <p style="font-style: italic;">“We are making photographs to understand what our lives mean to us.”</p>
  <p>-Ralph Hattersley</p>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="https://i.imgur.com/rZfpyDn.jpg" style="width:100%">
    <img src="https://i.imgur.com/E51wPr1.jpg" style="width:100%">
    <img src="https://i.imgur.com/HvNRX5Y.jpg" style="width:100%">
  </div>
  
  <div class="column">
      <img src="https://i.imgur.com/btpu8Nb.jpg" style="width:100%">
    <img src="https://i.imgur.com/WaxsyTc.jpg" style="width:100%">
    <img src="https://i.imgur.com/kq1tsvn.jpg" style="width:100%">
  </div>  
  
  <div class="column">
    <img src="https://i.imgur.com/mO6ibKq.jpg" style="width:100%">
    <img src="https://i.imgur.com/5M8Je56.jpg" style="width:100%">
    <img src="https://i.imgur.com/mWh2S2U.jpg" style="width:100%">
  </div>
  
  <div class="column">
    <img src="https://i.imgur.com/5a6sq7d.jpg" style="width:100%">
    <img src="https://i.imgur.com/RXQgmh5.jpg" style="width:100%">
    <img src="https://i.imgur.com/CrTMjk2.jpg" style="width:100%; height: 50%">
  </div>
</div>

</body>



</html>